input, textarea, select {
  background-color: #ffffff !important;
  color: #000000 !important;
  border: 1px solid #999 !important;
  padding: 12px !important;
  border-radius: 10px !important;
}

button {
  background-color: #000000 !important;
  color: #ffffff !important;
  padding: 12px !important;
  border-radius: 10px !important;
}
